// Colors
$color-primary: #087995;

//#c11616;
$color-footer: #90b8bd;
$color-white: #fff;
$color-grey: grey;
$color-red: red;
$color-black: black;
$color-blue: cadetBlue;
$color-brick: firebrick;
$color-teal: teal;
$color-antique-white: antiquewhite;
$color-brown: brown;
$color-alice-blue: aliceblue;
$color-darks-late-gray: darkslategray;
