.connected-system{
    .top, .heading{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .sub-heading{
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
}