.connected-system{
    .top, .heading{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .sub-heading{
        form{
            display: flex;
            align-items: baseline;
        }
        .select{
            width: 50% !important;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}