.connected-system {
  .top,
  .heading {
    .left {
      display: flex;
      align-items: baseline;
    }
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .sub-heading {
    form {
      display: flex;
      align-items: baseline;
    }
    .select {
      width: 100% !important;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
