.homepage {
  .system-panel {
    .tabs {
      display: flex;
      .add-system {
        align-self: flex-start;
      }
    }
    .tab-list {
      margin-right: auto;
      width: 60%;
      height: 10%;
    }
    .flex-list {
      display: flex;
      margin-bottom: 1rem;
      flex-wrap: wrap;
    }
    .right-navigation { 
      float: right;
    }
    .left-navigation {
      float: left;
    }
  }
}
