#appbar{
    background-color: $color-primary !important;
//     .toolbar{
// min-height: 0 !important;
//     }
    .title{
        text-decoration: none;
        margin-right: auto !important;
        color: $color-white;
    }
}
 